* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #85FEA1;
  --dark: #023B1F;
}

@font-face {
  font-family: Eregular;
  src: url(/public/EuclidFlexRegular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Elight;
  src: url(/public/EuclidFlexLight.ttf);
  font-display: swap;
}

@font-face {
  font-family: Ebold;
  src: url(/public/EuclidFlexSemiBold.ttf);
  font-display: swap;
}


body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*{
-webkit-tap-highlight-color: transparent;
}

/* :focus:not(focus-visible){
  outline:0;
  box-shadow: none;
} */

a {
  text-decoration: none;
  transition: all ease .4s;
}

.p a {
  font-weight: bold;
}

.navs a:hover,
.p a:hover {
  border-bottom: 1px solid black;
}

.hnavs a:hover {
  transform: scale(1.05);
}

.link {
  color: black;
  border-bottom: 1.5px solid black;
}

.nolink{
  color: unset;
  opacity: .8;
}

.hlink {
  color: black;
  
}

.noshow {
  opacity: 0;
  transform: translateY(-100%);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

 ::placeholder {
  font-family: Elight;
  opacity: .4;
}